<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title><%- book.name %></title>
    </head>
    <body>
        <%- include('./partials/navbar') %>
        <main style="max-width: 1225px">
            <div class="mainContainer">
                <div style="width: 350px" class="ml-2">
                    <img src="/images/<%- book.image %>" alt="..." class="img-thumbnail mt-3" />
                </div>
                <div style="width: 95%" class="mr-4 mb-4">
                    <div class="card mt-3 ml-3" style="width: 100%">
                        <div class="card-body">
                            <h4 class="card-title"><%- book.name %></h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Автор: <%- book.author %> <br />
                                Год издания: <%- book.year %> <br />
                                <% if(book.available){ %>
                                <span class="text-success">В наличии</span>
                                <% }else{ %>
                                <span class="text-danger">Нет в наличии</span>
                                <% } %> <% if(isAdmin){ %>
                                <button
                                    class="ml-3 btn btn-secondary"
                                    onclick="location = '/book/setavaiable/<%- book._id%>'"
                                >
                                    В наличии / Нет в наличии
                                </button>
                                <% } %>
                            </li>
                            <li class="list-group-item">
                                <h6>Описание:</h6>
                                <br /><%- book.discription %>
                            </li>
                            <li class="list-group-item">
                                <form action="/book/<%- book._id %>" method="POST">
                                    <button type="submit" class="btn btn-warning" <% if(isAdmin){ %>
                                        disabled<% } %> > Взять почитать
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <% if(users.length != 0) {%>
            <div class="container mt-5">
                <h3>Эта книга на руках у пользователей:</h3>
            </div>
            <table class="table mb-5">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Дата взятия</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < users.length ;i++){ %>
                    <tr>
                        <td style="font-size: small">
                            <a href="/user/<%- users[i]._id %> "><%- users[i]._id %></a>
                        </td>
                        <td><%- users[i].name %></td>
                        <td><%- users[i].phone %></td>
                        <td><%- users[i].orderDate %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>
        </main>
    </body>
</html>
