<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title>Личный кабинет</title>
    </head>
    <body>
        <%- include('./partials/navbar') %>
        <main style="max-width: 1225px">
            <div class="mainContainer">
                <div class="userData ml-2" style="width: 300px">
                    <div class="card mt-3 mr-3" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%- user.name %> <%- user.lastname %>
                            </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%- user.email %></li>
                            <li class="list-group-item"><%- user.phone %></li>
                            <li class="list-group-item">
                                Дата регистрации: <br />
                                <%- user.regDate %>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="userBooks" style="width: 100%">
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Книга</th>
                                <th scope="col">Дата взятия</th>
                                <% if(!isAdmin) {%>
                                <th scope="col">Вернуть</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(user.books != undefined) {%> 
                            <% for(let i = 0; i < user.books.length ;i++){ %>
                            <tr>
                                <td><%= user.books[i].name %></td>
                                <td><%= user.books[i].orderDate %></td>
                                <% if(!isAdmin) {%>
                                <td>
                                    <button
                                        class="btn btn-warning"
                                        onclick="window.location='user/book/delete/<%= user.books[i].id %>'"
                                    >
                                        Вернуть
                                    </button>
                                </td>
                                <% } %>
                            </tr>
                            <% } %> 
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </body>
</html>
